@import url(//fonts.googleapis.com/css?family=Roboto);
/*************************** Full Page *****************************/
#option-tree-header-wrap {

}
#page-ot_theme_options, #page-leap_theme_advanced {
    margin-top: 10px;
    max-width: 985px;
}
#option-tree-header {
    background: none;
    color: #23282d;
    box-shadow: none;
    border-radius: 0;
    margin: 0 5px 0 2px;
}
#option-tree-header #option-tree-version span, #option-tree-header #theme-version span {
    border: none;
    float: left;
    height: auto;
    line-height: 1;
    padding: 3px 0 12px 0;
}
#option-tree-header li {
    float: right;
    clear: both;
}
#option-tree-header li a {
    color: #23282d;
    font-size: 14px;
}
#option-tree-header li a:focus {
    box-shadow: none;
}
#option-tree-sub-header {
    position: fixed;
    z-index: 10;
    min-width: 100px;
    background: none;
    margin: 0;
    padding: 0;
    right: 26px;
    border: none;
}
#option-tree-sub-header .option-tree-ui-button.button {
    margin: 0;
}
/*************************** Navigation *****************************/
#option-tree-settings-api > .ui-tabs {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #ccc;
}
.wrap.settings-wrap .ui-tabs-nav {
    background-color: #333333;
    background-image: url("vestalite.png");
    background-repeat: no-repeat;
    background-position: 32px 27px;
    padding-top: 85px;
    width: 194px;
    margin: 0px;
}
.wrap.settings-wrap .ui-tabs-nav li {
    padding-left: 3px;
    font-size: 15px;
    outline: none;
    border-bottom: 1px solid #2D2B2B;
}
.wrap.settings-wrap .ui-tabs-nav li a:before {
    font-family: dashicons;
    content: '\F139';
    margin-right: 5px;
}
.wrap.settings-wrap .ui-tabs-nav li a {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 0;
    color: #bbbbbb;
}
.wrap.settings-wrap .ui-tabs-nav li a:hover {
    color: #f2f2f2;
}
.wrap.settings-wrap .ui-tabs-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    color: #000000;
    border: none;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active a {
    background: none;
    border-bottom: none;
}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active a:hover {
    color: #000000;
}
.ot-theme-option-tabs .ui-widget-header{
    background: transparent !important;
}
/*************************** Settings *****************************/
#option-tree-settings-api .leap13-section-title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}
.format-setting-wrap {
    padding: 20px 0 20px 0;
    border-bottom: 1px dashed #ccc;
}
.format-setting-label {
    margin: 0;
    padding: 0;
    border-bottom: none;
}
#option-tree-settings-api .format-setting-label .label {
    line-height: 1.4;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    padding: 0;
}
.option-tree-ui-colorpicker-input-wrap .option-tree-ui-colorpicker-label {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
}
.format-setting .description {
    font-size: 12px;
    float: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #6B6565;
}
.remove-border-wrap .format-setting-wrap {
    border-bottom: none;
}
.format-setting.no-desc {
    padding-top: 5px;
}
.format-setting .format-setting-inner {
    float: none;
    width: 100%;
}
.option-tree-ui-media-wrap img {
    max-width: 200px;
}
.title-block-wrap .format-setting-wrap {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    overflow: hidden;
}
.title-block-wrap .format-setting .description {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    text-align: center;
    padding: 0;
}
.desc-wrap .format-setting-wrap {
    padding: 10px 0 0 0;
    border-bottom: none;
}
.desc-wrap .format-setting .description {
    padding-bottom: 0;
}
.type-radio-image .option-tree-ui-radio-images img {
    opacity: 1;
}
#option-tree-settings-api .panel-toggle {
    margin-bottom: 10px;
}
#option-tree-settings-api h3.ui-accordion-header {
    padding: 10px;
    font-size: 20px;
    background-color: #ededed;
    border: 1px solid #D0D0D0;
    /*color: #9D9D9D;*/
    color: #888787;
    overflow: hidden;
    line-height: 25px;
    font-weight: normal;
    outline: none;
    cursor: pointer;
}
#option-tree-settings-api h3.ui-accordion-header .ui-icon {
    display: none;
}
#option-tree-settings-api h3.ui-accordion-header:before {
    font-family: dashicons;
    content: "\f132";
    display: inline-block;
    line-height: 1;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
#option-tree-settings-api h3.ui-accordion-header-active:before {
    font-family: dashicons;
    content: "\f460";
    display: inline-block;
    line-height: 1;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
/** Import Button **/
#import-data-form .format-setting .description {
    overflow: hidden;
}
/********************* RTL ***********************/
.rtl .wrap.settings-wrap .ui-tabs-nav li a:before {
    content: '\F141';
    margin-right: 0px;
    margin-left: 5px;
}
.rtl #option-tree-settings-api > .ui-tabs {

}
.rtl #option-tree-sub-header {

}
.rtl .wrap.settings-wrap .ui-tabs-nav li.ui-state-active {

}
.rtl .wrap.settings-wrap .ui-tabs-nav li a {

}